<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- CSS only -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

      <!-- JS, Popper.js, and jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'questionbank/style.css' %}"/>
      <title>Let's Get Started</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="{% url 'questionbank:index' %}">Index</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav nav-tabs">
          {% for category_nav in category_list %}
            {% if category_nav.category_name != category.category_name %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'questionbank:question' category_nav.id %}">{{category_nav.category_name}}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="#">{{category_nav.category_name}}</a>
                </li>
            {% endif %}
            
          {% endfor %}
        </ul>
      </div>
    </nav>
    <h1 class="display-3" id="startH1">{{category.category_name}}</h1
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'questionbank:base' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'questionbank:index' %}">Index</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{category.category_name}}</li>
      </ol>
    </nav>

    <h4>{{category.category_description}}</h4>

      <div class="container">

        <div class="row">

          <div class="col">

            <ul class="list-group scrollable">
            {% for question in category.questions.all %}
              <li class="list-group-item"><a class= "list-link" href="{{question.question_link}}">{{forloop.counter}}. {{question.question_text}}</a></li>
            {% endfor %}
            </ul>

          </div>

        </div>

      </div>
      <p id="footer">
        This website is hosted by GitHub. <a class= "list-link" href="https://github.com/ritwikranjan/GodleoN-HackerranK">View Repository</a>
      </p>
      <script type="text/javascript">
        $(document).on('click', ".list-link", function(e){
          e.preventDefault();
          var url = $(this).attr('href');
          window.open(url, '_blank');
        });
      </script>
  </body>

</html>
